@use "../../styles/variables" as *;

.addGardenContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
}

.addGardenForm {
  background-color: rgba(247, 243, 243, 0.1);
  border-radius: 20px;
  width: 60vw;
  padding: 32px 64px;
  @include mediumText;
  color: white;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  gap: 32px;
}

.plantsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.gold {
  color: $gold;
}

.headText {
  @include largeText;
  color: $white;
  text-align: center;
}

.formField {
  @include regularText;
  background-color: rgba(30, 64, 19, 0.4);
  color: $white;
  padding: 8px;
  border-radius: 0px 20px 20px 0px;
  width: 100%;
  border-color: transparent;
}
.formField::placeholder {
  color: $grey;
}

.formFieldWithIcon {
  display: flex;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.radioGroup {
  display: flex;
  gap: 64px;
}
.icon {
  background-color: $darkGreen;
  padding: 16px 32px;
  border-radius: 20px 0px 0px 20px;
}

.radioIcon {
  background-color: $darkGreen;
  padding: 16px 32px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 32px;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.radioOption input[type="radio"] {
  display: none;
}

.radioOption input[type="radio"]:checked + .radioIcon {
  background-color: $gold;
  color: $green;
}

.buttonWithIcon {
  display: flex;
  align-items: center;
  background-color: $darkGreen;
  color: $gold;
  border-radius: 20px;
  border-color: transparent;
  padding: 18px;
  @include mediumText;
  justify-content: center;
  transition: 0.2s ease-in-out;
  gap: 16px;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.buttonWithIcon:hover,
.radioIcon:hover {
  background-color: $gold;
  color: $green;
}

.typeRadioContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.topPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 32px;
  flex-direction: row;
  gap: 64px;
}

.errorMessage {
  color: $red;
  @include regularText;
}

.miniPlantBox:hover img {
  box-shadow: 0px 0px 0px 2px $gold;
  border-radius: 40px;
}

.selectedPlantsList {
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}
