@use "../../styles/variables" as *;

.gardenName {
  font-size: 2.2rem;
  text-align: center;
  padding: 16px;

  text-underline-offset: 0.8rem;
  background-color: $darkGreen;
  border-radius: 20px;
  color: $gold;
  padding: 24px 64px;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.gardenContainer {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
