@use "../../../styles/variables" as *;

.plantBox {
  background-color: rgba($white, 0.2);
  border-radius: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: $darkGreen;
  width: 25vw;
  height: 30vw;
}
.plantImage {
  width: 90%;
  height: 50%;
  object-fit: cover;
  border-radius: 25%;
  padding: 16px;
}

.button {
  position: absolute;
  right: 32px;
  bottom: 32px;
}

.plantContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plantHeader {
  padding: 32px 0px;
  width: 100%;
  border-radius: 0px 40px 0px 0px;
  text-align: center;
}

.commonName {
  @include largeText;
  text-wrap: wrap;
  color: $white;
}

.scientificName {
  color: $gold;
  @include mediumText;
  text-wrap: wrap;
}

.plantDetails {
  @include regularText;
  display: flex;

  justify-content: center;
  align-items: center;
  color: $white;
  gap: 32px;
}

.infoIcon {
  color: $gold;
}

.plantDetailsItem {
  display: flex;
  gap: 16px;
}
