.waterPlantButtonBox {
  color: white;
  padding: 10px 12px;
  background-color: #97ae8e;
  border: none;
  border-radius: 50px;
}

.waterPlantButtonBox:hover {
  color: rgb(118, 215, 245);
  cursor: pointer;
}
