@use "../../styles/variables" as *;

.pagesNavigator {
  display: flex;
  flex-direction: row;
  align-self: end;
  gap: 16px;
  color: $white;
  max-width: 300px;
  justify-content: center;
  background-color: $darkGreen;
  align-items: center;
  border-radius: 82px;
  padding: 16px;
  @include mediumText;
  @include softBoldText;
}

.pageNumber {
  padding: 4px;
}

.activePage {
  color: $black;
  cursor: pointer;
  background-color: $white;
  padding: 8px;
  border-radius: 20px;
}

.pageNumber,
.controlArrow {
  cursor: pointer;
}
