@use "../../../styles/variables" as *;

.gardenBox {
  padding: 24px;
  background-color: $white;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
}

.gardenBox:hover {
  background-color: $darkGreen;
  transition: 0.2s ease-out;
  cursor: pointer;
  color: $white;
}

.active {
  background-color: $darkGreen;
  color: $white;
}

.successBox {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}
