@use "../../styles/variables" as *;

.coverContainer {
  background-color: $lightGreen;
  height: 80vh;
  padding: 0px 82px;
  border-radius: 0px 0px 128px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 82px;
}

.text {
  color: $lightYellow;
  @include hugeText;
}

.imageBox {
  position: relative;
  width: 60vw;
  height: 25vw;
}

.archBackground {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  aspect-ratio: 2 / 1;

  border-radius: 999px 999px 0 0;
  background-color: rgba(233, 234, 180, 0.5);

  z-index: 1;
}

.image {
  position: absolute;
  bottom: 0;
  object-fit: cover;
  left: 50%;
  width: 100%;

  transform: translateX(-50%) translateY(34%);
  z-index: 2;
}
