@import "../../css/vars.scss";

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #004e3c;
  height: 100%;
  color: white;
  gap: 32px;
  height: 100vh;
}
.loginTitle {
  font-size: 2.6rem;
}
.siginRedirection {
  font-size: 1.6rem;
  color: #efb000;
}
.text {
  text-align: center;
  font-size: 1.4rem;
}
