.addIcon {
  align-self: flex-end;
  justify-self: flex-end;
  background-color: #97ae8e;
  padding: 8px;
  border-radius: 20px;
  color: white;
}

.addIcon:hover {
  background-color: #7a976f;
  cursor: pointer;
}
