.homePageContainer {
  background-color: #004e3c;
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.errorMessage {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-size: 2rem;
}

.errorContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.gold {
  color: #eeb001;
}
.text {
  color: white;
  font-size: 4rem;
}
