.homePageContainer {
  background-color: #e9f3e6;
  display: flex;

  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.errorMessage {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-size: 2rem;
}

.errorContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
