@import "../../styles/variables";

.searchInput {
  background-color: $softGray;
  padding: 32px;
  border-radius: 20px 0px 0px 20px;
  border: none;
  width: 100%;
  font-size: 1rem;
}

.icon {
  color: #eeb001;
}

.searchButton {
  background-color: $darkGreen;
  border: none;
  padding: 16px 32px;
  border-radius: 0px 20px 20px 0px;
}
.searchButton:hover {
  background-color: $green;
  cursor: pointer;
}

.searchForm {
  display: flex;
  align-items: stretch;

  width: 100%;
}
