.searchInput {
  background-color: white;
  padding: 32px;
  border-radius: 20px 0px 0px 20px;
  border: none;
  width: 30%;
  font-size: 1rem;
}

.icon {
  color: #eeb001;
}

.searchButton {
  background-color: #003b32;
  border: none;
  padding: 16px 32px;
  border-radius: 0px 20px 20px 0px;
}
.searchButton:hover {
  background-color: #00271e;
  cursor: pointer;
}

.searchForm {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
}
