.searchInput {
  background-color: white;
  padding: 16px;
  border-radius: 20px 0px 0px 20px;
  border: none;
  width: 30%;
  font-size: 1rem;
}

.icon {
  color: white;
}

.searchButton {
  background-color: #97ae8e;
  border: none;
  padding: 16px 32px;
  border-radius: 0px 20px 20px 0px;
}
.searchButton:hover {
  background-color: #7a976f;
  cursor: pointer;
}

.searchForm {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
}
