@use "../../styles/variables" as *;

.header {
  padding: 8px;
  background-color: $lightGreen;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  padding: 0px 32px;
  align-items: center;
}
.navLink {
  color: $white;
  text-decoration: none;
  @include mediumText;
  text-underline-offset: 0.4rem;
  padding: 16px 8px;
}

.navLink.active,
.navLink:hover {
  text-decoration: underline;
}

.navigationMenu {
  display: flex;
  gap: 32px;
  align-items: center;
}

.rightMenu {
  display: flex;
  background-color: $darkGreen;
  padding: 0px 32px;
  border-radius: 20px;
  gap: 16px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rightMenu:hover {
  background-color: $green;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.rightMenu:hover .userIcon {
  color: $gold;
}

.line {
  height: 2vw;
  color: $white;
  border: 1px solid $white;
}

.logo {
  display: none;
  align-self: flex-start;
  justify-self: flex-start;
  width: 180px;
  height: 60px;
}

.icon {
  width: 60px;
  height: 60px;
  fill: $white;
  align-self: flex-start;
  justify-self: flex-start;
}

@media (min-width: 1444px) {
  .logo {
    display: block;
  }
  .icon {
    display: none;
  }
}
