@use "../../styles/variables" as *;

.gardenContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 16px 64px;
}

.myGardenText {
  color: $white;
  text-align: center;
  @include largeText;
}

.golden {
  color: $gold;
}

.noGardensCover {
  width: 50vw;
  height: 100%;
  align-self: center;
}

.noGardenContentContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 32px;
}

.gardensActionHeader {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px;
}

.actionButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  @include mediumText;
}

.addButton {
  background-color: $green;
  color: $gold;
  border-radius: 20px;
  padding: 16px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.addButton:hover {
  background-color: $gold;
  color: $darkGreen;
}

.mainGardenContainer {
  background-color: $darkGreen;
}
