@import "../../styles/variables";

.homePageContainer {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.errorMessage {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  @include hugeText;
}

.errorContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
