.headerContainer {
  background-color: #7a976f;
  padding: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

.logo {
  width: 14vw;
}

.navLink {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  text-underline-offset: 0.4rem;
}

.navLink.active {
  text-decoration: underline;
}

.navigationMenu {
  display: flex;
  gap: 48px;

  align-items: center;
}

.rightMenu {
  display: flex;

  gap: 48px;
  align-items: center;
}
