@import "../../../styles/variables";

.logoutButton {
  background-color: transparent;
  border: none;
  color: $softGray;
  padding: 4px;
}
.logoutIcon {
  font-size: 1.8rem;
}
.logoutButton:hover {
  color: $gold;
  border-radius: 10px;
  cursor: pointer;
}
