@import "../../../styles/variables";

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.field {
  padding: 16px;
  border-radius: 20px;
  border-color: $softGray;
  @include regularText;
}

.formItem {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.submitButton {
  background-color: $darkGreen;
  padding: 16px;
  color: $softGray;
  border-radius: 20px;
  border: none;
  @include mediumText;
}
.submitButton:hover {
  cursor: pointer;
  background-color: $green;
  color: $gold;
}

.formTitle {
  @include largeText;
  text-align: center;
}
